@inject IConfiguration Config
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@basePath" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ExLibris4.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    /// <summary>ベースパス</summary>
    protected string basePath = "/";

    /// <summary>初期化</summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        basePath = Config.GetValue<string>("AppBasePath") ?? "/";
        if (!string.IsNullOrEmpty(basePath) && !basePath.EndsWith('/'))
        {
            basePath += '/';
        }
    }
}