@using System.Net.Http
@using WeatherCast.Data
@using WeatherCast.Component

@page "/client"
@rendermode InteractiveWebAssembly

@inject IWeatherForecastServices ForecastServices
@inject ILoggerFactory LoggerFactory

<PageTitle>ClientHome</PageTitle>

<h1>ClientHome</h1>

<p>
    running on @(OperatingSystem.IsBrowser() ? "browser" : "server").<br />
    rendered on @(System.OperatingSystem.IsLinux() ? "linux" : "not linux").<br />
    rendered on @(System.OperatingSystem.IsWindows() ? "windows" : "not windows").
</p>

<p role="status">Current count: @currentCount</p>
<p><button class="btn btn-primary" @onclick="IncrementCount">Increment</button></p>

<WeatherReport OnStateHasChanged="StateHasChanged" @ref="report" />

@if (report is not null) {
    @* 上のレポートが表示されてから有効化 *@
    <p>
        <button class="btn btn-primary" title="送/受信の結果を表示します。" @onclick="Post">Post</button>
        <WeatherReport Forecast="posted" Forecasts="result" Auto="false" OnStateHasChanged="StateHasChanged" />
        @if (posted is not null) {
            <button class="btn btn-primary" @onclick="Clear">Clear</button>
        }
    </p>
}

@code {
    /// <summary>Getしたレポート (表示完了の確認に使用)</summary>
    protected WeatherReport? report;

    /// <summary>Postにつかったレポート</summary>
    protected WeatherForecast? posted;

    /// <summary>Postの結果として返されたレポート</summary>
    protected WeatherForecast[]? result;

    /// <summary>本日の新規レポートをPost</summary>
    protected async Task Post () {
        posted = await WeatherForecast.CreateAsync(0);
        result = await ForecastServices.PostForecastAsync(posted);
        var logger = LoggerFactory.CreateLogger<ClientHome>();
        logger.LogInformation($"ClientHome.Post result={(result is not null && result.Length > 0 ? result[0] : "null")}");
    }

    /// <summary>Post関連レポートのクリア</summary>
    protected void Clear () {
        posted = null;
        result = null;
    }

    protected int currentCount = 0;

    protected void IncrementCount () {
        currentCount++;
    }

}