@using System.Net.Http
@using WeatherCast.Data
@using WeatherCast.Component

@page "/client"
@rendermode InteractiveWebAssembly

@inject NavigationManager Navigation
@inject HttpClient HttpClient
@inject IWeatherForecastServices ForecastServices

<PageTitle>ClientHome</PageTitle>

<h1>ClientHome</h1>

<p>
    running on @(OperatingSystem.IsBrowser() ? "browser" : "server").<br />
    rendered on @(System.OperatingSystem.IsLinux() ? "linux" : "not linux").<br />
    rendered on @(System.OperatingSystem.IsWindows() ? "windows" : "not windows").
</p>

<WeatherReport OnStateHasChanged="StateHasChanged" />

<button class="btn btn-primary" @onclick="Post">Post</button>
<WeatherReport Forecast="posted" Auto="false" OnStateHasChanged="StateHasChanged" /> 

@code {
    protected WeatherForecast? posted;

    protected async Task Post () {
        posted = await WeatherForecast.CreateAsync (0);
        var success = await ForecastServices.PostForecastAsync (posted);

    }

}