@using System.Net.Http
@using WeatherCast.Data
@using WeatherCast.Component

@page "/client"
@rendermode InteractiveWebAssembly

@inject NavigationManager Navigation
@inject HttpClient HttpClient

<PageTitle>ClientHome</PageTitle>

<h1>ClientHome</h1>

<p>
    running on @(OperatingSystem.IsBrowser() ? "browser" : "server").<br />
    rendered on @(System.OperatingSystem.IsLinux() ? "linux" : "not linux").<br />
    rendered on @(System.OperatingSystem.IsWindows() ? "windows" : "not windows").
</p>

<WeatherReport OnStateHasChanged="StateHasChanged" />
