@using WeatherCast.Data
@using WeatherCast.Component

@page "/weather"
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>
    running on @(OperatingSystem.IsBrowser() ? "browser" : "server").<br />
    rendered on @(System.OperatingSystem.IsLinux() ? "linux" : "not linux").<br />
    rendered on @(System.OperatingSystem.IsWindows() ? "windows" : "not windows").
</p>

<WeatherReport OnStateHasChanged="StateHasChanged" />
